h1 {
    color: red;
}
h4 {
    color: aliceblue;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
    border: solid red 1px;
}
body {
    background-image: url('https://wallpapercave.com/wp/wp2284535.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lista {
    background-color: aliceblue;
}
.lista .item1{
    color: rgb(0, 255, 13);
}