* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.naveg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
}

img {
    width: 100px;
}

.lg-esq {
    width: 40px;
}

.lg-dir {
    width: 200px;
}

button {
    width: 90px;
    height: 45px;
    border-radius: 10%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
button:hover {
    border-color: #ff0044;

}